@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the carousel */
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-out;
}

.carousel-slide {
  width: 100%;
  flex-shrink: 0;
  max-height: 400px; /* Adjust the maximum height as needed */
  object-fit: contain; /* Ensure the image is fully visible within the container */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadowing */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
}

.carousel-slide:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10; /* Ensure buttons are above images */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.carousel-button-left {
  left: 10px;
}

.carousel-button-right {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}